<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %> 
   

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
    
            <img src="/img/personal.png" alt="" class="w-25">


        <section>
            <h1 class="display-1">Acerca de mí</h1>
            <p>Soy un apasionado desarrollador web con un talento especial para transformar ideas en experiencias digitales cautivadoras. Mi objetivo es diseñar y desarrollar sitios web que no solo se vean increíbles, sino que también ofrezcan una experiencia de usuario intuitiva y accesible para todos.

                Con una combinación de habilidades técnicas avanzadas y una creatividad inagotable, he trabajado en proyectos diversos, desde pequeñas empresas emergentes hasta grandes corporaciones. Cada línea de código que escribo refleja mi compromiso con la excelencia y mi deseo de innovar.
                <br>
                <br>
                Mis servicios incluyen:
                
                
                Desarrollo Frontend: Utilizando las últimas tecnologías como HTML5, CSS3, y JavaScript, creo interfaces de usuario atractivas y responsivas.
                
                Desarrollo Backend: Con experiencia en Node.js, Express, y bases de datos como PostgreSQL, me encargo de que tu sitio web funcione de manera eficiente y segura.
                <br>
                <br>
                Diseño Web: Me aseguro de que cada proyecto tenga un diseño visual coherente y moderno, optimizado para todos los dispositivos y navegadores.
                
                
                SEO y Rendimiento: Implemento estrategias de SEO y optimización para que tu sitio no solo sea rápido, sino también fácil de encontrar en motores de búsqueda.
                
                Mi enfoque centrado en el cliente significa que escucharé tus necesidades, colaboraré contigo durante todo el proceso, y me aseguraré de que el resultado final supere tus expectativas.
                
                
            </p>
        </section>
    </main>
</body>
</html>