<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>
    
    <%- include('partials/navigation') %> 

    <div class="container vh-100 d-flex justify-content-center align-items-center">

        <div class="card bg-primary text-white text-center">
            <div class="card-header">
                <h3>Contáctame</h3>
            </div>
            <div class="card-body">
                <form>
                    
                     
                    <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Email" class="form-control">
                    </div>
                    
    
                    <div class="mb-3">
                    <label for="mensaje">Mensaje</label>
                    <textarea name="mensaje" rows="3" class="form-control" placeholder="Escríbeme"></textarea>    
                    </div>
    
                    <button class="btn btn-dark btn-block">
                        Enviar
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>