<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>

    <div class="vh-100 container pt-2 text-center">
        <h1>Mis Skills</h1>

        <div class="contenido-diferenciales">
            <ul class="lista-diferenciales">
                <li class="items">Atención Personalizada A Mis Clientes</li> 
                <br>
                <li class="items">Disciplinado</li>
                <br>
                <li class="items">Bien Organizado</li> 
                <br>
                <li class="items">Profecional Calificado</li>
                <br>
                <li class="items">Puntual</li> 
                <br>
                <li class="items">Limpieza</li>
                <br>
                <li class="items">Sentido de Compromiso</li>
            </ul>
            
        </div>
    </div> 
    

    
    
</body>
</html>

